<p>
  core works!
</p>
<!-- Main -->
<div class="main-layout">

  <!-- Content -->
  <div class="layout-left">
    <!--<div re-core-nav-menu></div>-->
    layout-left
    <div routerLinkActive="active" #rlaDashboard="routerLinkActive">
      <div>
        <a routerLink="/core/dashboard">
        <!-- WORKS -->
        Dashboard {{rlaDashboard.isActive}}
        </a>
      </div>
      <!-- DOES NOT WORK -->
      <img *ngIf="rlaDashboard.isActive" src="./assets/navigation/navigation-separator.svg" />
      <img [ngClass]="{'hidden':rlaDashboard.isActive}" src="./assets/navigation/navigation-separator.svg" />
      <!-- ================= -->

      <img src="./assets/navigation/navigation-separator.svg" />
    </div>
    <div routerLinkActive="active" #rlaTransactions="routerLinkActive">
      <div>
        <a routerLink="/core/transactions">
        Transactions {{rlaTransactions.isActive}}
        </a>
      </div>
      <img src="./assets/navigation/navigation-separator.svg" />
    </div>
  </div>

  <!-- Navigation Menu -->
  <div class="layout-right">
    layout-right
    <router-outlet></router-outlet>
    <!--<div re-core-nav-content>
      <router-outlet></router-outlet>
    </div>-->
  </div>

</div>
<!-- /Main-->
